extends example.pug


block canvas
  div(id='canvas-container' style='position: relative')
    canvas(id = 'example-canvas', data-backend = 'auto').img-fluid.w-100
  input(id='file-input' type='file' multiple style='float: right')
  p
  p
    | Select a #[a(href='https://github.com/KhronosGroup/glTF-Sample-Models/blob/master/2.0/README.md') sample model]
    | from the dropdown, use the file input or drag file(s), folders or zip files onto the canvas.

block breakdown
  p glTF 2.0 Example with simple PBR shading based on the #[a(href='https://github.com/KhronosGroup/glTF-WebGL-PBR') reference shader].

  include partials/code.pug
  +code('example-code', 'Loading a glTF file:')
    | import { GltfAsset, GltfLoader } from 'gltf-loader-ts';
    | import { Asset } from './asset';
    | import { GltfRenderer } from './gltfrenderer';
    | const gltfAsset = await loader.load(url); // url to any .gltf or .glb file

