extends example.pug


block canvas
  div(id='canvas-container' style='position: relative')
    canvas(id = 'example-canvas', data-backend = 'auto').img-fluid.w-100
  button(id='xr-button' disabled) Enter XR
  span(id='message' style='margin-left: 10px; color: red; font-size: smaller') Initializing....
  p WebXR example

